.tile {
  background-color: rgb(64, 59, 59);
  width: 300px;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: width;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 50px;
}

.tile h1 {
  font-size: 200px;
}
