.tile {
  background-color: #04724d;
  width: 300px;
  height: 300px;
  justify-content: center;
  display: flex;
  align-items: center;
  height: width;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 50px;
}

.tile h1 {
  font-size: 200px;
}
